# Pandas - DataFrame And Series

Pandas is  a powerful data manipulation library in python, widely used for data analysis and data cleaning. It provides two primary data structures : Series and DataFrame . A Series is a one - dimensional array-like object, while a DataFrame is a two - dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns)

In [1]:
import pandas as pd

## Series

it is a one dimensional labelled array capable of string / holding homogeneous data of any type(integers , float , string , _ _ _ _ _ , Python objects etc )

In [2]:
 # creatng a series using list 
lst = [10,20,30,40,50,60]
series = pd.Series(lst)
print("series :- ")
print(series)
print("Type of series :- " , type(series))

series :-
0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64
Type of series :-  <class 'pandas.core.series.Series'>

In [3]:
# creating a series using dictionary 
dct = {'Name ' : "Pradeep" , 'Branch ' : " AI-ML" , 'Course': "B-Tech" }
series_dict = pd.Series(dct)
print("Series :- ")
print(series_dict)
print("Type of series :- " , type(series_dict))

Series :-
Name       Pradeep
Branch       AI-ML
Course      B-Tech
dtype: object
Type of series :-  <class 'pandas.core.series.Series'>

In [4]:
# creating an series object with programmer - defined index 
lst = [10,"Rossum", 34.56,"Author"]
series = pd.Series(lst , index=['StNo' , "Name ","Marks" , "Desg"])
print(series)

StNo         10
Name     Rossum
Marks     34.56
Desg     Author
dtype: object

In [5]:
#get first Series values 
print('First Name :- ',series[0])

First Name :-  10

C:\Users\Pradeep Rawat\AppData\Local\Temp\ipykernel_23504\2751990268.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('First Name :- ',series[0])

In [6]:
# update first value of series 
series[0]=20
series

C:\Users\Pradeep Rawat\AppData\Local\Temp\ipykernel_23504\4263844644.py:2: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  series[0]=20

StNo         20
Name     Rossum
Marks     34.56
Desg     Author
dtype: object

In [7]:
lst = [10,20,30,40,50,60]
s = pd.Series(lst)
print("*"*50)
print(s)
print("*"*30)
print("product of values : - " ,s.product())
print("Cummulative product of values :- \n " , s.cumprod())
print("*"*50)
print("Maximum value  of series :- " , s.max())
print("Minimum value of series  :- " , s.min())
print("Mean of Series :- " , s.mean())
print("Median of series :- " , s.median())
print("standard deviatation of series :- " , s.std())
print("Sum of values of series :- " , s.sum())
print("*"*30)
print("Sort the series in descending order :- \n" , s.sort_values(ascending = False))
print("*"*30)

**************************************************
0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64
******************************
product of values : -  720000000
Cummulative product of values :-
  0           10
1          200
2         6000
3       240000
4     12000000
5    720000000
dtype: int64
**************************************************
Maximum value  of series :-  60
Minimum value of series  :-  10
Mean of Series :-  35.0
Median of series :-  35.0
standard deviatation of series :-  18.708286933869708
Sum of values of series :-  210
******************************
Sort the series in descending order :-
 5    60
4    50
3    40
2    30
1    20
0    10
dtype: int64
******************************

In [8]:
print("*"*30)
print("Total count of values in series :- " , s.count())
print("Total null or Nan values in series :- " , s.isnull().sum())
print("Unique values in series :- " , s.unique())
print("Total unique values in series :- " , s.nunique())
print("*"*30)

******************************
Total count of values in series :-  6
Total null or Nan values in series :-  0
Unique values in series :-  [10 20 30 40 50 60]
Total unique values in series :-  6
******************************

In [9]:
# top 5 values 
s.head()

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [10]:
# bottom 5 values 
s.tail()

1    20
2    30
3    40
4    50
5    60
dtype: int64

In [11]:
# statistical description of series 
s.describe()

count     6.000000
mean     35.000000
std      18.708287
min      10.000000
25%      22.500000
50%      35.000000
75%      47.500000
max      60.000000
dtype: float64

# DataFrame

DataFrame  is one of the class and whose object allows us to store the data in tabular format or 2 - dimensional format  and where we  can perform data analysis.

## Attributes of DataFrame

There are 10 attributes in the DataFrame
                     
                      
                                1. index
                                2. columns
                                3. axes
                                4. dtypes 
                                5. size
                                6. shape
                                7. ndim 
                                8. empty
                                9. T (Transpose)
                                10. Values

In [12]:
lst_dict = {
    "name": ["Pradeep Rawat" , "Ashish Lodhi " , "Shashkant Sahu " , " Aman "],
    "Marks " : [100,50,23,42],
    "Age" : [21,20,18,13]
}
df = pd.DataFrame(lst_dict)
df

              name  Marks   Age
0    Pradeep Rawat     100   21
1    Ashish Lodhi       50   20
2  Shashkant Sahu       23   18
3            Aman       42   13

In [22]:
print("Range of index :- ",df.index)
print("Column names :-" , df.columns)
print("Range and columns :-" , df.axes)

Range of index :-  RangeIndex(start=0, stop=4, step=1)
Column names :- Index(['name', 'Marks ', 'Age'], dtype='object')
Range and columns :- [RangeIndex(start=0, stop=4, step=1), Index(['name', 'Marks ', 'Age'], dtype='object')]

In [23]:
print("Data types of columns :- \n " , df.dtypes)

Data types of columns :-
  name      object
Marks      int64
Age        int64
dtype: object

In [24]:
print("Total size of df :- " , df.size)

Total size of df :-  12

In [25]:
print("Shape of DataFrame :- " , df.shape)

Shape of DataFrame :-  (4, 3)

In [28]:
print("Transpose of DataFrame :- \n")
df.T

Transpose of DataFrame :-

                    0              1                2       3
name    Pradeep Rawat  Ashish Lodhi   Shashkant Sahu    Aman
Marks             100             50               23      42
Age                21             20               18      13

In [29]:
df.values

array([['Pradeep Rawat', 100, 21],
       ['Ashish Lodhi ', 50, 20],
       ['Shashkant Sahu ', 23, 18],
       [' Aman ', 42, 13]], dtype=object)

In [30]:
# reading data from csv file
df = pd.read_csv('flipkart_products.csv')

In [31]:
df

,Product Name,Price (₹),Rating (★),Number of Buyers,Total Sold,Available Stock,Main Category,Sub Category,Discount (%),Seller,Return Policy,Product URL
0,Krishnamurthy-Devan Laboriosam Ultra Smartphon...,142247.04,3.2,7348,4812,364,Electronics,Smartphones,45,RetailNet,False,https://www.flipkart.com/Krishnamurthy-Devan-L...
1,Nanda-Mahal Dignissimos Lite Laptops 1,186922.43,4.1,2342,881,145,Electronics,Laptops,55,Flipkart Assured,False,https://www.flipkart.com/Nanda-Mahal-Dignissim...
2,Choudhury LLC Amet Plus Decor 15,11843.41,5.0,739,2580,206,Home,Decor,58,SuperComNet,True,https://www.flipkart.com/Choudhury-LLC-Amet-Pl...
3,Borah LLC Accusantium Lite Smartphones 9,10864.31,4.8,1543,4562,1585,Electronics,Smartphones,0,ElectroWorld,False,https://www.flipkart.com/Borah-LLC-Accusantium...
4,Murty Inc Placeat Pro Smartwatches 8,32950.41,4.5,7702,4925,1064,Electronics,Smartwatches,18,MobileHub,False,https://www.flipkart.com/Murty-Inc-Placeat-Pro...
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,Sampath-Sama Repellat Pro T-Shirts 11,1620.65,4.9,568,5322,2126,Fashion,T-Shirts,9,RetailNet,False,https://www.flipkart.com/Sampath-Sama-Repellat...
4996,"Sekhon, Sachdeva and Chakrabarti Hic Plus Shoe...",18414.64,4.4,9103,7361,3133,Fashion,Shoes,44,ElectroWorld,False,"https://www.flipkart.com/Sekhon,-Sachdeva-and-..."
4997,"Mittal, Sinha and Kumer Asperiores Lite Washin...",24841.94,3.1,6124,4164,900,Appliances,Washing Machines,8,SuperComNet,False,"https://www.flipkart.com/Mittal,-Sinha-and-Kum..."
4998,Suresh Ltd Voluptatibus Plus Furniture 13,25177.89,3.4,4536,1645,414,Home,Furniture,0,MobileHub,True,https://www.flipkart.com/Suresh-Ltd-Voluptatib...
4999,Padmanabhan Inc Harum Lite Furniture 15,34636.40,3.5,6309,6791,1713,Home,Furniture,14,Flipkart Assured,False,https://www.flipkart.com/Padmanabhan-Inc-Harum...

In [32]:
# first five values
df.head()

,Product Name,Price (₹),Rating (★),Number of Buyers,Total Sold,Available Stock,Main Category,Sub Category,Discount (%),Seller,Return Policy,Product URL
0,Krishnamurthy-Devan Laboriosam Ultra Smartphon...,142247.04,3.2,7348,4812,364,Electronics,Smartphones,45,RetailNet,False,https://www.flipkart.com/Krishnamurthy-Devan-L...
1,Nanda-Mahal Dignissimos Lite Laptops 1,186922.43,4.1,2342,881,145,Electronics,Laptops,55,Flipkart Assured,False,https://www.flipkart.com/Nanda-Mahal-Dignissim...
2,Choudhury LLC Amet Plus Decor 15,11843.41,5.0,739,2580,206,Home,Decor,58,SuperComNet,True,https://www.flipkart.com/Choudhury-LLC-Amet-Pl...
3,Borah LLC Accusantium Lite Smartphones 9,10864.31,4.8,1543,4562,1585,Electronics,Smartphones,0,ElectroWorld,False,https://www.flipkart.com/Borah-LLC-Accusantium...
4,Murty Inc Placeat Pro Smartwatches 8,32950.41,4.5,7702,4925,1064,Electronics,Smartwatches,18,MobileHub,False,https://www.flipkart.com/Murty-Inc-Placeat-Pro...

In [33]:
# last 5 values
df.tail()

,Product Name,Price (₹),Rating (★),Number of Buyers,Total Sold,Available Stock,Main Category,Sub Category,Discount (%),Seller,Return Policy,Product URL
4995,Sampath-Sama Repellat Pro T-Shirts 11,1620.65,4.9,568,5322,2126,Fashion,T-Shirts,9,RetailNet,False,https://www.flipkart.com/Sampath-Sama-Repellat...
4996,"Sekhon, Sachdeva and Chakrabarti Hic Plus Shoe...",18414.64,4.4,9103,7361,3133,Fashion,Shoes,44,ElectroWorld,False,"https://www.flipkart.com/Sekhon,-Sachdeva-and-..."
4997,"Mittal, Sinha and Kumer Asperiores Lite Washin...",24841.94,3.1,6124,4164,900,Appliances,Washing Machines,8,SuperComNet,False,"https://www.flipkart.com/Mittal,-Sinha-and-Kum..."
4998,Suresh Ltd Voluptatibus Plus Furniture 13,25177.89,3.4,4536,1645,414,Home,Furniture,0,MobileHub,True,https://www.flipkart.com/Suresh-Ltd-Voluptatib...
4999,Padmanabhan Inc Harum Lite Furniture 15,34636.40,3.5,6309,6791,1713,Home,Furniture,14,Flipkart Assured,False,https://www.flipkart.com/Padmanabhan-Inc-Harum...

In [ ]:
# statistical record of dataframe 
df.describe

<bound method NDFrame.describe of                                            Product Name  Price (₹)  \
0     Krishnamurthy-Devan Laboriosam Ultra Smartphon...  142247.04
1                Nanda-Mahal Dignissimos Lite Laptops 1  186922.43
2                      Choudhury LLC Amet Plus Decor 15   11843.41
3              Borah LLC Accusantium Lite Smartphones 9   10864.31
4                  Murty Inc Placeat Pro Smartwatches 8   32950.41
...                                                 ...        ...
4995              Sampath-Sama Repellat Pro T-Shirts 11    1620.65
4996  Sekhon, Sachdeva and Chakrabarti Hic Plus Shoe...   18414.64
4997  Mittal, Sinha and Kumer Asperiores Lite Washin...   24841.94
4998          Suresh Ltd Voluptatibus Plus Furniture 13   25177.89
4999            Padmanabhan Inc Harum Lite Furniture 15   34636.40

      Rating (★)  Number of Buyers  Total Sold  Available Stock Main Category  \
0            3.2              7348        4812              364   Electronics
1            4.1              2342         881              145   Electronics
2            5.0               739        2580              206          Home
3            4.8              1543        4562             1585   Electronics
4            4.5              7702        4925             1064   Electronics
...          ...               ...         ...              ...           ...
4995         4.9               568        5322             2126       Fashion
4996         4.4              9103        7361             3133       Fashion
4997         3.1              6124        4164              900    Appliances
4998         3.4              4536        1645              414          Home
4999         3.5              6309        6791             1713          Home

          Sub Category  Discount (%)            Seller  Return Policy  \
0          Smartphones            45         RetailNet          False
1              Laptops            55  Flipkart Assured          False
2                Decor            58       SuperComNet           True
3          Smartphones             0      ElectroWorld          False
4         Smartwatches            18         MobileHub          False
...                ...           ...               ...            ...
4995          T-Shirts             9         RetailNet          False
4996             Shoes            44      ElectroWorld          False
4997  Washing Machines             8       SuperComNet          False
4998         Furniture             0         MobileHub           True
4999         Furniture            14  Flipkart Assured          False

                                            Product URL
0     https://www.flipkart.com/Krishnamurthy-Devan-L...
1     https://www.flipkart.com/Nanda-Mahal-Dignissim...
2     https://www.flipkart.com/Choudhury-LLC-Amet-Pl...
3     https://www.flipkart.com/Borah-LLC-Accusantium...
4     https://www.flipkart.com/Murty-Inc-Placeat-Pro...
...                                                 ...
4995  https://www.flipkart.com/Sampath-Sama-Repellat...
4996  https://www.flipkart.com/Sekhon,-Sachdeva-and-...
4997  https://www.flipkart.com/Mittal,-Sinha-and-Kum...
4998  https://www.flipkart.com/Suresh-Ltd-Voluptatib...
4999  https://www.flipkart.com/Padmanabhan-Inc-Harum...

[5000 rows x 12 columns]>

In [35]:
df.shape

(5000, 12)

In [36]:
df.columns

Index(['Product Name', 'Price (₹)', 'Rating (★)', 'Number of Buyers',
       'Total Sold', 'Available Stock', 'Main Category', 'Sub Category',
       'Discount (%)', 'Seller', 'Return Policy', 'Product URL'],
      dtype='object')

In [38]:
df['Product Name']

0       Krishnamurthy-Devan Laboriosam Ultra Smartphon...
1                  Nanda-Mahal Dignissimos Lite Laptops 1
2                        Choudhury LLC Amet Plus Decor 15
3                Borah LLC Accusantium Lite Smartphones 9
4                    Murty Inc Placeat Pro Smartwatches 8
                              ...
4995                Sampath-Sama Repellat Pro T-Shirts 11
4996    Sekhon, Sachdeva and Chakrabarti Hic Plus Shoe...
4997    Mittal, Sinha and Kumer Asperiores Lite Washin...
4998            Suresh Ltd Voluptatibus Plus Furniture 13
4999              Padmanabhan Inc Harum Lite Furniture 15
Name: Product Name, Length: 5000, dtype: object

In [39]:
df['Price (₹)']

0       142247.04
1       186922.43
2        11843.41
3        10864.31
4        32950.41
          ...
4995      1620.65
4996     18414.64
4997     24841.94
4998     25177.89
4999     34636.40
Name: Price (₹), Length: 5000, dtype: float64

In [41]:
df.isnull().sum()

Product Name        0
Price (₹)           0
Rating (★)          0
Number of Buyers    0
Total Sold          0
Available Stock     0
Main Category       0
Sub Category        0
Discount (%)        0
Seller              0
Return Policy       0
Product URL         0
dtype: int64

In [42]:
df.loc[1]

Product Name                   Nanda-Mahal Dignissimos Lite Laptops 1
Price (₹)                                                   186922.43
Rating (★)                                                        4.1
Number of Buyers                                                 2342
Total Sold                                                        881
Available Stock                                                   145
Main Category                                             Electronics
Sub Category                                                  Laptops
Discount (%)                                                       55
Seller                                               Flipkart Assured
Return Policy                                                   False
Product URL         https://www.flipkart.com/Nanda-Mahal-Dignissim...
Name: 1, dtype: object

In [ ]:
df.iloc[:,[5]]

      Available Stock
0                 364
1                 145
2                 206
3                1585
4                1064
...               ...
4995             2126
4996             3133
4997              900
4998              414
4999             1713

[5000 rows x 1 columns]

In [53]:
new_df = df.iloc[:,1:5]

In [54]:
new_df

      Price (₹)  Rating (★)  Number of Buyers  Total Sold
0     142247.04         3.2              7348        4812
1     186922.43         4.1              2342         881
2      11843.41         5.0               739        2580
3      10864.31         4.8              1543        4562
4      32950.41         4.5              7702        4925
...         ...         ...               ...         ...
4995    1620.65         4.9               568        5322
4996   18414.64         4.4              9103        7361
4997   24841.94         3.1              6124        4164
4998   25177.89         3.4              4536        1645
4999   34636.40         3.5              6309        6791

[5000 rows x 4 columns]

In [55]:
new_df.head()

   Price (₹)  Rating (★)  Number of Buyers  Total Sold
0  142247.04         3.2              7348        4812
1  186922.43         4.1              2342         881
2   11843.41         5.0               739        2580
3   10864.31         4.8              1543        4562
4   32950.41         4.5              7702        4925

In [56]:
df

,Product Name,Price (₹),Rating (★),Number of Buyers,Total Sold,Available Stock,Main Category,Sub Category,Discount (%),Seller,Return Policy,Product URL
0,Krishnamurthy-Devan Laboriosam Ultra Smartphon...,142247.04,3.2,7348,4812,364,Electronics,Smartphones,45,RetailNet,False,https://www.flipkart.com/Krishnamurthy-Devan-L...
1,Nanda-Mahal Dignissimos Lite Laptops 1,186922.43,4.1,2342,881,145,Electronics,Laptops,55,Flipkart Assured,False,https://www.flipkart.com/Nanda-Mahal-Dignissim...
2,Choudhury LLC Amet Plus Decor 15,11843.41,5.0,739,2580,206,Home,Decor,58,SuperComNet,True,https://www.flipkart.com/Choudhury-LLC-Amet-Pl...
3,Borah LLC Accusantium Lite Smartphones 9,10864.31,4.8,1543,4562,1585,Electronics,Smartphones,0,ElectroWorld,False,https://www.flipkart.com/Borah-LLC-Accusantium...
4,Murty Inc Placeat Pro Smartwatches 8,32950.41,4.5,7702,4925,1064,Electronics,Smartwatches,18,MobileHub,False,https://www.flipkart.com/Murty-Inc-Placeat-Pro...
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,Sampath-Sama Repellat Pro T-Shirts 11,1620.65,4.9,568,5322,2126,Fashion,T-Shirts,9,RetailNet,False,https://www.flipkart.com/Sampath-Sama-Repellat...
4996,"Sekhon, Sachdeva and Chakrabarti Hic Plus Shoe...",18414.64,4.4,9103,7361,3133,Fashion,Shoes,44,ElectroWorld,False,"https://www.flipkart.com/Sekhon,-Sachdeva-and-..."
4997,"Mittal, Sinha and Kumer Asperiores Lite Washin...",24841.94,3.1,6124,4164,900,Appliances,Washing Machines,8,SuperComNet,False,"https://www.flipkart.com/Mittal,-Sinha-and-Kum..."
4998,Suresh Ltd Voluptatibus Plus Furniture 13,25177.89,3.4,4536,1645,414,Home,Furniture,0,MobileHub,True,https://www.flipkart.com/Suresh-Ltd-Voluptatib...
4999,Padmanabhan Inc Harum Lite Furniture 15,34636.40,3.5,6309,6791,1713,Home,Furniture,14,Flipkart Assured,False,https://www.flipkart.com/Padmanabhan-Inc-Harum...

In [ ]:
# removing specific columns
df = df.drop(columns = "Product URL",axis=1)

In [59]:
df

,Product Name,Price (₹),Rating (★),Number of Buyers,Total Sold,Available Stock,Main Category,Sub Category,Discount (%),Seller,Return Policy
0,Krishnamurthy-Devan Laboriosam Ultra Smartphon...,142247.04,3.2,7348,4812,364,Electronics,Smartphones,45,RetailNet,False
1,Nanda-Mahal Dignissimos Lite Laptops 1,186922.43,4.1,2342,881,145,Electronics,Laptops,55,Flipkart Assured,False
2,Choudhury LLC Amet Plus Decor 15,11843.41,5.0,739,2580,206,Home,Decor,58,SuperComNet,True
3,Borah LLC Accusantium Lite Smartphones 9,10864.31,4.8,1543,4562,1585,Electronics,Smartphones,0,ElectroWorld,False
4,Murty Inc Placeat Pro Smartwatches 8,32950.41,4.5,7702,4925,1064,Electronics,Smartwatches,18,MobileHub,False
...,...,...,...,...,...,...,...,...,...,...,...
4995,Sampath-Sama Repellat Pro T-Shirts 11,1620.65,4.9,568,5322,2126,Fashion,T-Shirts,9,RetailNet,False
4996,"Sekhon, Sachdeva and Chakrabarti Hic Plus Shoe...",18414.64,4.4,9103,7361,3133,Fashion,Shoes,44,ElectroWorld,False
4997,"Mittal, Sinha and Kumer Asperiores Lite Washin...",24841.94,3.1,6124,4164,900,Appliances,Washing Machines,8,SuperComNet,False
4998,Suresh Ltd Voluptatibus Plus Furniture 13,25177.89,3.4,4536,1645,414,Home,Furniture,0,MobileHub,True
4999,Padmanabhan Inc Harum Lite Furniture 15,34636.40,3.5,6309,6791,1713,Home,Furniture,14,Flipkart Assured,False

In [61]:
df[df.duplicated()]

Empty DataFrame
Columns: [Product Name, Price (₹), Rating (★), Number of Buyers, Total Sold, Available Stock, Main Category, Sub Category, Discount (%), Seller, Return Policy]
Index: []

#### GROUP BY

In [ ]:
# group the datfrae on the basis of main category 
new_df = df.groupby('Main Category')

In [79]:
for val in new_df:
    print(val[0] ,"-------------------> \n ", val[1].count())
    print("*"*100)

Appliances ------------------->
  Product Name        1263
Price (₹)           1263
Rating (★)          1263
Number of Buyers    1263
Total Sold          1263
Available Stock     1263
Main Category       1263
Sub Category        1263
Discount (%)        1263
Seller              1263
Return Policy       1263
dtype: int64
****************************************************************************************************
Electronics ------------------->
  Product Name        1275
Price (₹)           1275
Rating (★)          1275
Number of Buyers    1275
Total Sold          1275
Available Stock     1275
Main Category       1275
Sub Category        1275
Discount (%)        1275
Seller              1275
Return Policy       1275
dtype: int64
****************************************************************************************************
Fashion ------------------->
  Product Name        1239
Price (₹)           1239
Rating (★)          1239
Number of Buyers    1239
Total Sold          1239
Available Stock     1239
Main Category       1239
Sub Category        1239
Discount (%)        1239
Seller              1239
Return Policy       1239
dtype: int64
****************************************************************************************************
Home ------------------->
  Product Name        1223
Price (₹)           1223
Rating (★)          1223
Number of Buyers    1223
Total Sold          1223
Available Stock     1223
Main Category       1223
Sub Category        1223
Discount (%)        1223
Seller              1223
Return Policy       1223
dtype: int64
****************************************************************************************************

In [77]:
df['Main Category'].unique()

array(['Electronics', 'Home', 'Appliances', 'Fashion'], dtype=object)

In [ ]:
# count of every sub category items 
print(df.groupby('Sub Category').size())

Sub Category
ACs                 303
Decor               306
Dresses             308
Furniture           287
Headphones          316
Jeans               294
Kitchenware         325
Laptops             343
Lighting            305
Microwaves          297
Refrigerators       352
Shoes               317
Smartphones         308
Smartwatches        308
T-Shirts            320
Washing Machines    311
dtype: int64

In [88]:
df.at[1,"Sub Category"]

'Laptops'

In [89]:
df

,Product Name,Price (₹),Rating (★),Number of Buyers,Total Sold,Available Stock,Main Category,Sub Category,Discount (%),Seller,Return Policy
0,Krishnamurthy-Devan Laboriosam Ultra Smartphon...,142247.04,3.2,7348,4812,364,Electronics,Smartphones,45,RetailNet,False
1,Nanda-Mahal Dignissimos Lite Laptops 1,186922.43,4.1,2342,881,145,Electronics,Laptops,55,Flipkart Assured,False
2,Choudhury LLC Amet Plus Decor 15,11843.41,5.0,739,2580,206,Home,Decor,58,SuperComNet,True
3,Borah LLC Accusantium Lite Smartphones 9,10864.31,4.8,1543,4562,1585,Electronics,Smartphones,0,ElectroWorld,False
4,Murty Inc Placeat Pro Smartwatches 8,32950.41,4.5,7702,4925,1064,Electronics,Smartwatches,18,MobileHub,False
...,...,...,...,...,...,...,...,...,...,...,...
4995,Sampath-Sama Repellat Pro T-Shirts 11,1620.65,4.9,568,5322,2126,Fashion,T-Shirts,9,RetailNet,False
4996,"Sekhon, Sachdeva and Chakrabarti Hic Plus Shoe...",18414.64,4.4,9103,7361,3133,Fashion,Shoes,44,ElectroWorld,False
4997,"Mittal, Sinha and Kumer Asperiores Lite Washin...",24841.94,3.1,6124,4164,900,Appliances,Washing Machines,8,SuperComNet,False
4998,Suresh Ltd Voluptatibus Plus Furniture 13,25177.89,3.4,4536,1645,414,Home,Furniture,0,MobileHub,True
4999,Padmanabhan Inc Harum Lite Furniture 15,34636.40,3.5,6309,6791,1713,Home,Furniture,14,Flipkart Assured,False

In [90]:
df.at[100,"Product Name"]

'Edwin-Dar Praesentium Plus Lighting 6'

In [91]:
df.iat[100,7]

'Lighting'

In [92]:
df["Total earn "] = df["Price (₹)"] * df["Total Sold"]

In [93]:
df

,Product Name,Price (₹),Rating (★),Number of Buyers,Total Sold,Available Stock,Main Category,Sub Category,Discount (%),Seller,Return Policy,Total earn
0,Krishnamurthy-Devan Laboriosam Ultra Smartphon...,142247.04,3.2,7348,4812,364,Electronics,Smartphones,45,RetailNet,False,6.844928e+08
1,Nanda-Mahal Dignissimos Lite Laptops 1,186922.43,4.1,2342,881,145,Electronics,Laptops,55,Flipkart Assured,False,1.646787e+08
2,Choudhury LLC Amet Plus Decor 15,11843.41,5.0,739,2580,206,Home,Decor,58,SuperComNet,True,3.055600e+07
3,Borah LLC Accusantium Lite Smartphones 9,10864.31,4.8,1543,4562,1585,Electronics,Smartphones,0,ElectroWorld,False,4.956298e+07
4,Murty Inc Placeat Pro Smartwatches 8,32950.41,4.5,7702,4925,1064,Electronics,Smartwatches,18,MobileHub,False,1.622808e+08
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,Sampath-Sama Repellat Pro T-Shirts 11,1620.65,4.9,568,5322,2126,Fashion,T-Shirts,9,RetailNet,False,8.625099e+06
4996,"Sekhon, Sachdeva and Chakrabarti Hic Plus Shoe...",18414.64,4.4,9103,7361,3133,Fashion,Shoes,44,ElectroWorld,False,1.355502e+08
4997,"Mittal, Sinha and Kumer Asperiores Lite Washin...",24841.94,3.1,6124,4164,900,Appliances,Washing Machines,8,SuperComNet,False,1.034418e+08
4998,Suresh Ltd Voluptatibus Plus Furniture 13,25177.89,3.4,4536,1645,414,Home,Furniture,0,MobileHub,True,4.141763e+07
4999,Padmanabhan Inc Harum Lite Furniture 15,34636.40,3.5,6309,6791,1713,Home,Furniture,14,Flipkart Assured,False,2.352158e+08

In [96]:
df.isnull().sum()

Product Name        0
Price (₹)           0
Rating (★)          0
Number of Buyers    0
Total Sold          0
Available Stock     0
Main Category       0
Sub Category        0
Discount (%)        0
Seller              0
Return Policy       0
Total earn          0
dtype: int64

In [97]:
df2 = pd.read_csv("train.csv")
df2

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08-11-2017,11-11-2017,Second Class,CG-12520,Claire Gute,Consumer,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08-11-2017,11-11-2017,Second Class,CG-12520,Claire Gute,Consumer,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12-06-2017,16-06-2017,Second Class,DV-13045,Darrin Van Huff,Corporate,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11-10-2016,18-10-2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11-10-2016,18-10-2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,9796,CA-2017-125920,21-05-2017,28-05-2017,Standard Class,SH-19975,Sally Hughsby,Corporate,Chicago,Illinois,60610.0,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980
9796,9797,CA-2016-128608,12-01-2016,17-01-2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,Toledo,Ohio,43615.0,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680
9797,9798,CA-2016-128608,12-01-2016,17-01-2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,Toledo,Ohio,43615.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880
9798,9799,CA-2016-128608,12-01-2016,17-01-2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,Toledo,Ohio,43615.0,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760
9799,9800,CA-2016-128608,12-01-2016,17-01-2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,Toledo,Ohio,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840

In [99]:
df2.isnull().sum()

Row ID            0
Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
City              0
State             0
Postal Code      11
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
dtype: int64

In [100]:
df2["Postal Code"]

0       42420.0
1       42420.0
2       90036.0
3       33311.0
4       33311.0
         ...
9795    60610.0
9796    43615.0
9797    43615.0
9798    43615.0
9799    43615.0
Name: Postal Code, Length: 9800, dtype: float64

In [114]:
df2[df2["Postal Code"].isnull()]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
2234,2235,CA-2018-104066,05-12-2018,10-12-2018,Standard Class,QJ-19255,Quincy Jones,Corporate,Burlington,Vermont,NaN,East,TEC-AC-10001013,Technology,Accessories,Logitech ClearChat Comfort/USB Headset H390,205.03
5274,5275,CA-2016-162887,07-11-2016,09-11-2016,Second Class,SV-20785,Stewart Visinsky,Consumer,Burlington,Vermont,NaN,East,FUR-CH-10000595,Furniture,Chairs,Safco Contoured Stacking Chairs,715.20
8798,8799,US-2017-150140,06-04-2017,10-04-2017,Standard Class,VM-21685,Valerie Mitchum,Home Office,Burlington,Vermont,NaN,East,TEC-PH-10002555,Technology,Phones,Nortel Meridian M5316 Digital phone,1294.75
9146,9147,US-2017-165505,23-01-2017,27-01-2017,Standard Class,CB-12535,Claudia Bergmann,Corporate,Burlington,Vermont,NaN,East,TEC-AC-10002926,Technology,Accessories,Logitech Wireless Marathon Mouse M705,99.98
9147,9148,US-2017-165505,23-01-2017,27-01-2017,Standard Class,CB-12535,Claudia Bergmann,Corporate,Burlington,Vermont,NaN,East,OFF-AR-10003477,Office Supplies,Art,4009 Highlighters,8.04
9148,9149,US-2017-165505,23-01-2017,27-01-2017,Standard Class,CB-12535,Claudia Bergmann,Corporate,Burlington,Vermont,NaN,East,OFF-ST-10001526,Office Supplies,Storage,Iceberg Mobile Mega Data/Printer Cart,1564.29
9386,9387,US-2018-127292,19-01-2018,23-01-2018,Standard Class,RM-19375,Raymond Messe,Consumer,Burlington,Vermont,NaN,East,OFF-PA-10000157,Office Supplies,Paper,Xerox 191,79.92
9387,9388,US-2018-127292,19-01-2018,23-01-2018,Standard Class,RM-19375,Raymond Messe,Consumer,Burlington,Vermont,NaN,East,OFF-PA-10001970,Office Supplies,Paper,Xerox 1881,12.28
9388,9389,US-2018-127292,19-01-2018,23-01-2018,Standard Class,RM-19375,Raymond Messe,Consumer,Burlington,Vermont,NaN,East,OFF-AP-10000828,Office Supplies,Appliances,Avanti 4.4 Cu. Ft. Refrigerator,542.94
9389,9390,US-2018-127292,19-01-2018,23-01-2018,Standard Class,RM-19375,Raymond Messe,Consumer,Burlington,Vermont,NaN,East,OFF-EN-10001509,Office Supplies,Envelopes,Poly String Tie Envelopes,2.04
9741,9742,CA-2016-117086,08-11-2016,12-11-2016,Standard Class,QJ-19255,Quincy Jones,Corporate,Burlington,Vermont,NaN,East,FUR-BO-10004834,Furniture,Bookcases,"Riverside Palais Royal Lawyers Bookcase, Royal...",4404.90

In [ ]:
# 
df2.fillna(0)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08-11-2017,11-11-2017,Second Class,CG-12520,Claire Gute,Consumer,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08-11-2017,11-11-2017,Second Class,CG-12520,Claire Gute,Consumer,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12-06-2017,16-06-2017,Second Class,DV-13045,Darrin Van Huff,Corporate,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11-10-2016,18-10-2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11-10-2016,18-10-2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,9796,CA-2017-125920,21-05-2017,28-05-2017,Standard Class,SH-19975,Sally Hughsby,Corporate,Chicago,Illinois,60610.0,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980
9796,9797,CA-2016-128608,12-01-2016,17-01-2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,Toledo,Ohio,43615.0,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680
9797,9798,CA-2016-128608,12-01-2016,17-01-2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,Toledo,Ohio,43615.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880
9798,9799,CA-2016-128608,12-01-2016,17-01-2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,Toledo,Ohio,43615.0,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760
9799,9800,CA-2016-128608,12-01-2016,17-01-2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,Toledo,Ohio,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840